/* Reset de estilos para garantir uma base consistente */
* {
  background-color: cornflowerblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Estilos globais para o corpo do documento */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0c0000;
  color: #f0f0f0;
}

/* Estilos para os botões comuns usando classes do Bootstrap */
.btn {
  margin: 7px;
  padding: 9px 19px;
  border: outset;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Estilos para um botão de sucesso (verde) */
.btn-success {
  background-color: #28a745;
  justify-content: center;
  display: flex;
  text-align: center;
  color: #fff;
}

/* Estilos para cabeçalhos (títulos) */
h1 {
  font-size: 30px;
  margin-bottom: 14px;
}

h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

/* Estilos para caixas de mensagem de erro */
.error-message {
  color: #ff0000;
  font-size: 16px;
  margin-top: 8px;
}

/* Estilos para caixas de mensagem de sucesso */
.success-message {
  color: #28a745;
  font-size: 16px;
  margin-top: 8px;
}

.form-group {
  padding: 15px;
}
